$subMenuActive : #161639;
$bg : #183153;
// $bgFront : #030916; 1d2a46
$bgFront : #001646;
// $bgBack : #040D21; 2c3a58
$bgBack : #2c3a58;

$titleFontColor : #CBCBE2;

$themeBluelight : #016487;
$themeDarkBlue : #001930;
